<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>InsertQ</display-name>
    <servlet-name>InsertQ</servlet-name>
    <servlet-class>com.question.InsertQ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertQ</servlet-name>
    <url-pattern>/InsertQ</url-pattern>
  </servlet-mapping>
  <display-name>Question</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ExistingServlet</servlet-name>
    <servlet-class>com.question.ExistingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExistingServlet</servlet-name>
    <url-pattern>/ExistingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertQServlet</display-name>
    <servlet-name>InsertQServlet</servlet-name>
    <servlet-class>com.question.InsertQServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertQServlet</servlet-name>
    <url-pattern>/InsertQServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateServlet</display-name>
    <servlet-name>updateServlet</servlet-name>
    <servlet-class>com.question.updateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateServlet</servlet-name>
    <url-pattern>/updateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteServlet</display-name>
    <servlet-name>deleteServlet</servlet-name>
    <servlet-class>com.question.deleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteServlet</servlet-name>
    <url-pattern>/deleteServlet</url-pattern>
  </servlet-mapping>
</web-app>