@charset "ISO-8859-1";
*{
	margin:0;
	padding:0;
	background-position: center;
	font-family: 'Poppins',sans-serif;
	box-sizing: border-box;
}

body{
	background: #0496C7;
}

a{
	font-weight: 500;
	width: 400px;
	border: 0;
	padding: 10px;
	margin: 100px auto 0;
	border-radius: 4px;
	display: block;
	background: #001e4d ;
	height: 100px;
}

button{
	
	font-size: 25px;
	width: 380px;
	font-weight: 600;
	border-bottom: 1px solid #333;
	padding-bottom: 30px;
}

